body {
  background-image: url("../img/bg.jpg");
  /*background-color: red;*/
  background-repeat: no-repeat;
  background-size: 100%;

}

.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f7f7f7;
  width: 60%;
  text-align: center;
  min-height: 60%;
  opacity: 0.95;
  border-radius: 3%;
}

h3 {
  text-align: left;
  padding-left: 20px;
}

h1 {
  color: #F59098;
  font-size: 60px;
  font-weight: 1000;
  padding: 40px;
}
.content {
  padding: 0;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 20px;
}


.input-text {
  background-color: transparent;
  border:0;
  height: 100%;
  width: 80%;
  outline: none;
  font-size: 40px;
  text-align: center;
}

.add-button {
  outline: none;
  height: 100%;
  width: 20%;
  font-weight: bold;
  font-size: 20px;
  color: #231F20;
}

.data-form {
  display: flex;
  justify-content:center;
  height: 30px;
  margin-bottom: 40px;
}

.delete-button {
  font-weight: bold;
  font-size: 18px;
  color: #231F20;
  float: right;
  margin-top: 20px;
  margin-right: 80px;
  height: 40px;
  width: 80px;
  outline: none;
}

.meal {
  border-bottom: 2px dotted #F58F9A;
  margin-top: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
  zoom: 1.5;
}

.meal {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.meal-name {
  width: 300px;
  text-align: left;
}

.meal-calories {
  width: 30%;
  text-align: left;
}

.hidden {
  display: none;
}

.meal-name-input, .calorie-input, .date-input {
  width: 20%;
  margin-right: 5px;
}

.meal-date {
  width: 60%;
}

.sum {
  font-size: 30px;
}

.sumdiv {
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 30px;
}

.footer {
  display: flex;
  flex-flow: column;
}

.footer-form {
  margin-bottom: 30px;
}
